---

- name: useradd | Generate ssh key pair
  openssh_keypair:
    path: "/tmp/{{ user_name }}_ssh_rsa"
    size: 2048
  when: action == "create"

- name: useradd | Create POSIX User
  user:
    name: "{{ user_name }}"
    uid: "{{ user_id }}"
    shell: "{{ user_shell }}"
  when: action == "create"

- name: useradd | Set authorized key
  authorized_key:
    user: "{{ user_name }}"
    state: present
    key: "{{ lookup('file', '/tmp/{{ user_name }}_ssh_rsa.pub') }}"
  when: action == "create"

- name: useradd | Create POSIX Group
  group:
    name: "{{ group_name }}"
    gid: "{{ group_id }}"
    state: present
  when: action == "create"

- name: useradd | Delete POSIX User
  user:
    name: "{{ user_name }}"
    state: absent
    remove: yes
  when: action == "delete"

- name: useradd | Delete POSIX Group
  user:
    name: "{{ group_name }}"
    state: absent
  when: action == "delete"
